@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: var(--font-poppins), var(--font-kantumruy-pro);
}

h1 {
	font-family: var(--font-osaka-re);
}

.none-scroll-bar::-webkit-scrollbar {
	display: none;
}


@media screen and (max-width: 1030px) {
	.menu {
		display: inline-block;
	
	}
	#search{
		display: none;
	}
	.navigation {
		position: absolute;
		width: 100%;
		height: auto;
		top: 5.1rem;
		right: -100%;
		left: 0%;
		background: white;
		display: block;
		align-items: end;
		padding: 1rem;
		justify-content: start;
		overflow: hidden;
		transition: all 0.3s ease-in-out;
		z-index: 999;
	}

	.navbar {
		width: 100%;
		display: grid;
		align-items: start;
		justify-content: start;
		gap: 1rem;
	}

	@layer utilities {
		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
	  }
}
