.container {
	@apply h-screen grid place-content-center bg-pink-200;
}

.title {
	@apply text-2xl font-semibold text-gray-800 dark:text-gray-100 text-center mb-2;
}

.label {
	@apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.input {
	@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.form {
	@apply max-w-sm mx-auto;
}

.error {
    @apply text-red-500 text-sm mt-1;
}

.button {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}